<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visualizza Preventivo</title>
</head>
<body>
    <h1>Preventivo per <span th:text="${utente.nome}"></span></h1>
    <h2>Tipo di lavoro <span th:text="${tipoLavoro}"></span></h2>
    <h3>Lista di lavorazioni <span th:text="${idLavorazioni}"></span></h3>
    <p>Stampa un'arrey di Id dei valori selezionati >> <span th:text="${idLavorazioni}"></span></p>
    
    <p th:text="${idLavorazioni}"></p>
    
    <form action="/preventivo/accetta" method="post">
 <!-- Invio al controller "/preventivo/accetta" questi tre parametri ,sono situati in un <imput> di type nascosto ... -->   
    	<input type="hidden" name="utenteNome" th:value="${utente.nome}">
    	<input type="hidden" name="tipoLavoro" th:value="${tipoLavoro}">    
        <input type="hidden" name="idLavorazioni" th:value="${idLavorazioni}">
        
        <button type="submit">Accetta Preventivo</button>
    </form>
</body>
</html>
